/* Navigation Section CSS Start */

nav.navbar {
  padding: 15px 0;
  z-index: 999;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  -webkit-animation: sticky 1.2s;
  animation: sticky 1.2s;
  z-index: 999;
}

@keyframes sticky {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.logo img {
  max-width: 200px;
  width: 100%;
}

.nav-link {
  position: relative;
  font-size: 16px;
  text-transform: capitalize;
  color: #4d4f5f;
  padding: 12px 15px !important;
}

.nav-link.active::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background: #ff5b2e;
  border-radius: 100%;
}

.nav-link.active {
  font-weight: 600;
  color: #ff5b2e !important;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #ffffff;
  border-radius: 24px;
}

.search-form input {
  background: transparent;
  border: none;
}

.search-form input:focus,
.language-selector select:focus {
  outline: 0;
}

.search-form ::placeholder {
  font-size: 16px;
  color: #828282;
}

.language-selector select {
  font-size: 20px;
  line-height: 24px;
  color: #050c43;
  padding: 12px 15px;
  border: none;
  background: none;
}

.user-profile {
  padding-left: 15px;
}

.user-profile img {
  max-width: 50px;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  height: 100%;
  object-fit: cover;
  border: 3px solid #ffffff;
  border-radius: 100%;
}

@media (max-width: 1200px) {
  .logo img {
    max-width: 150px;
    width: 100%;
  }
  .nav-item {
    padding: 5px 0;
  }

  .nav-link {
    padding: 5px 0 !important;
  }

  .nav {
    position: absolute;
    top: 90px;
    left: -100%;
    flex-direction: column;
    align-items: center;
    background: #fefaf5;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    transition: left 0.3s;
  }

  .nav.active {
    left: 0;
  }

  #bar {
    margin: 0 10px 0 20px;
    cursor: pointer;
  }

  #bar span {
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    background: #000000;
  }

  #bar.active span {
    background: transparent;
  }

  #bar span::before,
  #bar span::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
  }

  #bar span::before {
    transform: translateY(-6px);
  }

  #bar.active span::before {
    background: #ff0000;
    transform: rotate(45deg);
  }

  #bar span::after {
    transform: translateY(6px);
  }

  #bar.active span::after {
    background: #ff0000;
    transform: rotate(135deg);
  }

  .language-selector select {
    padding: 12px 0;
  }

  .user-profile {
    padding-left: 0px;
  }
}

/* Navigation Section CSS End */
