/* ============***============
Responsive CSS
============***============ */

/* Min Width 1200px and  Max Width 1399px */

@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-content {
    margin-top: 150px;
  }

  .hero-img img {
    position: absolute;
    right: 50px;
    max-width: 60%;
  }

  .find-pet-wrapper {
    margin-top: 150px;
  }
}

/* Min Width 992px and  Max Width 1199px */

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-content {
    margin-top: 100px;
  }

  .hero-content h2 {
    font-size: 56px;
    line-height: 72px;
  }

  .hero-img img {
    position: absolute;
    right: 50px;
    max-width: 60%;
  }

  .find-pet-wrapper {
    margin-top: 200px;
  }
}

/* Min Width 768px and  Max Width 991px */

@media (min-width: 768px) and (max-width: 991px) {
  .hero-content {
    margin-top: 150px;
  }

  .hero-content h2 {
    font-size: 48px;
    line-height: 64px;
  }

  .hero-img img {
    position: relative;
    max-width: 100%;
    width: 100%;
    right: 0;
  }

  .find-pet-wrapper {
    margin-top: -100px;
  }

  .find-pet-shape {
    top: -100px;
  }
}

/* Min Width 300px and  Max Width 767px */

@media (min-width: 300px) and (max-width: 767px) {
  .hero-content {
    margin-top: 60px;
  }

  .hero-content h2 {
    font-size: 36px;
    line-height: 50px;
  }

  .hero-content p,
  .find-pet-content p {
    font-size: 16px;
    line-height: 25px;
  }

  .hero-content-shape1 img,
  .hero-content-shape2 img,
  .hero-content-shape3 img {
    max-width: 50%;
  }

  .hero-content-shape1 {
    top: -60px;
  }

  .hero-content-shape2 {
    top: -30px;
  }

  .hero-content-shape3 img {
    max-width: 70%;
  }

  .hero-content-shape3 {
    bottom: 40px;
  }

  .hero-img {
    padding-top: 40px;
  }

  .hero-img img {
    position: relative;
    max-width: 100%;
    width: 100%;
    right: 0;
    margin-left: -40px;
  }

  .find-pet-wrapper {
    margin-top: -60px;
  }

  .find-pet-shape {
    top: -85px;
  }

  .find-pet-shape img {
    max-width: 80%;
  }

  .find-pet-container {
    padding: 20px;
  }

  .find-pet-content h3 {
    font-size: 30px;
    line-height: 45px;
  }
}
