/* Base Styles CSS Start */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background: #fffaf5;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.primary-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: #ff5b2e;
  padding: 12px 32px;
  border-radius: 32px;
}

/* Base Styles CSS End */

/* Header Part CSS Start */

/* Navigation Section CSS Start */

nav.navbar {
  padding: 15px 0;
  z-index: 999;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  -webkit-animation: sticky 1.2s;
  animation: sticky 1.2s;
  z-index: 999;
}

@keyframes sticky {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.logo img {
  max-width: 200px;
  width: 100%;
}

.nav-link {
  position: relative;
  font-size: 16px;
  text-transform: capitalize;
  color: #4d4f5f;
  padding: 12px 15px !important;
}

.nav-link.active::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background: #ff5b2e;
  border-radius: 100%;
}

.nav-link.active {
  font-weight: 600;
  color: #ff5b2e !important;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #ffffff;
  border-radius: 24px;
}

.search-form input {
  background: transparent;
  border: none;
}

.search-form input:focus,
.language-selector select:focus {
  outline: 0;
}

.search-form ::placeholder {
  font-size: 16px;
  color: #828282;
}

.language-selector select {
  font-size: 20px;
  line-height: 24px;
  color: #050c43;
  padding: 12px 15px;
  border: none;
  background: none;
}

.user-profile {
  padding-left: 15px;
}

.user-profile img {
  max-width: 50px;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  height: 100%;
  object-fit: cover;
  border: 3px solid #ffffff;
  border-radius: 100%;
}

@media (max-width: 1200px) {
  .logo img {
    max-width: 150px;
    width: 100%;
  }
  .nav-item {
    padding: 5px 0;
  }

  .nav-link {
    padding: 5px 0 !important;
  }

  .nav {
    position: absolute;
    top: 90px;
    left: -100%;
    flex-direction: column;
    align-items: center;
    background: #fefaf5;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    transition: left 0.3s;
  }

  .nav.active {
    left: 0;
  }

  #bar {
    margin: 0 10px 0 20px;
    cursor: pointer;
  }

  #bar span {
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    background: #000000;
  }

  #bar.active span {
    background: transparent;
  }

  #bar span::before,
  #bar span::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
  }

  #bar span::before {
    transform: translateY(-6px);
  }

  #bar.active span::before {
    background: #ff0000;
    transform: rotate(45deg);
  }

  #bar span::after {
    transform: translateY(6px);
  }

  #bar.active span::after {
    background: #ff0000;
    transform: rotate(135deg);
  }

  .language-selector select {
    padding: 12px 0;
  }

  .user-profile {
    padding-left: 0px;
  }
}

/* Navigation Section CSS End */

/* Hero Section CSS Start */

.hero-content {
  margin-top: 200px;
}

.hero-content h2 {
  font-size: 72px;
  font-weight: 600;
  line-height: 96px;
  color: #050c43;
}

.hero-content h2 span {
  color: #ff5b2e;
}

.hero-content p {
  font-size: 18px;
  line-height: 32px;
  color: #4d4f5f;
}

.hero-btn {
  padding-top: 40px;
}

.hero-content-shape1 {
  position: absolute;
  top: -120px;
  right: 0;
}

.hero-content-shape2 {
  position: absolute;
  top: -110px;
  left: 46%;
  transform: translateX(-46%);
  z-index: -1;
}

.hero-content-shape3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.hero-img img {
  position: absolute;
  top: -50px;
  right: 150px;
}

/* Hero Section CSS End */

/* Header Part CSS End */

/* Main Part CSS Start */

/* Find Pet CSS Start */

.find-pet-wrapper {
  margin-top: 250px;
}

.find-pet-container {
  background: #fff3e8;
  padding: 40px 48px;
  border-radius: 48px;
}

.find-pet-content {
  padding-right: 30px;
}

.find-pet-content h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  color: #050c43;
}

.find-pet-content p {
  font-size: 18px;
  line-height: 32px;
  color: #4d4f5f;
}

.see-more-btn {
  padding-top: 20px;
}

.find-pet-card-img img {
  max-width: 170px;
  width: 170px;
  min-height: 270px;
  max-height: 270px;
  height: 100%;
  border-radius: 100px;
}

.find-pet-card h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #050c43;
  padding-top: 24px;
}

.find-pet-shape {
  position: absolute;
  top: -125px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

/* Find Pet CSS End */

/* VIP Pet Selling Section CSS Start */

.pet-selling-wrapper {
  padding-top: 100px;
}

.pet-selling-slider {
  padding-top: 50px;
}

.pet-selling-top h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  color: #000000;
}

.pet-selling-slide {
  background: #ffffff;
  border-radius: 16px;
}

.pet-slide-img img {
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.vip-tag {
  position: absolute;
  top: 25px;
  left: 20px;
}

.vip-tag span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff5b2e;
  padding: 7px 16px;
  border: 2px solid #ffffffd9;
  border-radius: 29px;
}

.pet-slide-content {
  padding: 20px;
}

.pet-slide-content h5 {
  font-size: 20px;
  font-weight: 500;
  color: #050c43;
  padding-bottom: 10px;
}

.pet-slide-content h5 span {
  font-size: 16px;
  font-weight: 400;
  color: #4d4f5f;
}

.pet-slide-content p {
  font-size: 16px;
  font-weight: 500;
  color: #4d4f5f;
  margin-bottom: 0;
}

.buy-now-btn a {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  background: #ff5b2e;
  padding: 7px 16px;
  border-radius: 30px;
}

.owl-carousel .owl-nav.disabled {
  display: block;
}

.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-prev {
  position: absolute;
  top: -65px;
  right: 70px;
}

.owl-next {
  position: absolute;
  top: -65px;
  right: 0;
}

.owl-prev i,
.owl-next i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background: #ffffff;
  border: 1px solid #fff6ee;
  border-radius: 100%;
}

.owl-prev i {
  color: #9c9c9c;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
}

/* VIP Pet Selling Section CSS End */

/* Upload Post Section CSS Start */

.upload-post-wrapper {
  margin-top: 100px;
}

.upload-post-container {
  padding: 48px 36px;
  background: #fff3e8;
  border-radius: 48px;
}

.upload-post-img img {
  max-width: 100%;
  width: 100%;
}

.upload-post-content h3 {
  font-size: 40px;
  font-weight: 600;
  color: #050c43;
  margin-bottom: 30px;
}

.post-form-field {
  margin-bottom: 24px;
}

.post-form-field select,
.post-form-field input {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #4d4f5f;
  padding: 16px 24px;
  background: #ffffff;
  border: none;
  border-radius: 32px;
}

.post-form-field select:focus,
.post-form-field input:focus {
  outline: 0;
}

.post-submit-btn {
  padding-top: 20px;
}

.post-submit-btn input {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 16px 32px;
  background: #ff5b2e;
  border: 2px solid #ffffff;
  border-radius: 32px;
}

.upload-post-form ::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #4d4f5f;
}

/* Upload Post Section CSS End */

/* Main Part CSS End */

/* Footer Part CSS Start */

.footer-wrapper {
  margin-top: 80px;
  background: #040930;
  padding: 40px 0;
}

.footer-social ul li {
  padding: 0 15px;
}

.footer-social ul li a {
  font-size: 20px;
  color: #ffffff;
}

.footer-contact a {
  font-size: 18px;
  color: #d3d3d3;
}

.footer-wrapper hr {
  margin: 25px 0;
  opacity: 0.5;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-copyright p {
  font-size: 16px;
  text-align: center;
  color: #a7a7a7;
  margin-bottom: 0;
}

/* Footer Part CSS End */

/* ============***============
Responsive CSS
============***============ */

/* Min Width 1200px and  Max Width 1399px */

@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-content {
    margin-top: 150px;
  }

  .hero-img img {
    position: absolute;
    right: 50px;
    max-width: 60%;
  }

  .find-pet-wrapper {
    margin-top: 150px;
  }
}

/* Min Width 992px and  Max Width 1199px */

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-content {
    margin-top: 100px;
  }

  .hero-content h2 {
    font-size: 56px;
    line-height: 72px;
  }

  .hero-img img {
    position: absolute;
    right: 50px;
    max-width: 60%;
  }

  .find-pet-wrapper {
    margin-top: 200px;
  }
}

/* Min Width 768px and  Max Width 991px */

@media (min-width: 768px) and (max-width: 991px) {
  .hero-content {
    margin-top: 150px;
  }

  .hero-content h2 {
    font-size: 48px;
    line-height: 64px;
  }

  .hero-img img {
    position: relative;
    max-width: 100%;
    width: 100%;
    right: 0;
  }

  .find-pet-wrapper {
    margin-top: -100px;
  }

  .find-pet-shape {
    top: -100px;
  }

  .pet-selling-top h2,
  .upload-post-content h3 {
    font-size: 36px;
  }

  .footer-container {
    text-align: center;
  }
}

/* Min Width 300px and  Max Width 767px */

@media (min-width: 300px) and (max-width: 767px) {
  .hero-content {
    margin-top: 60px;
  }

  .hero-content h2 {
    font-size: 36px;
    line-height: 50px;
  }

  .hero-content p,
  .find-pet-content p {
    font-size: 16px;
    line-height: 25px;
  }

  .hero-content-shape1 img,
  .hero-content-shape2 img,
  .hero-content-shape3 img {
    max-width: 50%;
  }

  .hero-content-shape1 {
    top: -60px;
  }

  .hero-content-shape2 {
    top: -30px;
  }

  .hero-content-shape3 img {
    max-width: 70%;
  }

  .hero-content-shape3 {
    bottom: 40px;
  }

  .hero-img {
    padding-top: 40px;
  }

  .hero-img img {
    position: relative;
    max-width: 100%;
    width: 100%;
    right: 0;
    margin-left: -40px;
  }

  .find-pet-wrapper {
    margin-top: -60px;
  }

  .find-pet-shape {
    top: -85px;
  }

  .find-pet-shape img {
    max-width: 80%;
  }

  .find-pet-container {
    padding: 20px;
  }

  .find-pet-content h3 {
    font-size: 30px;
    line-height: 45px;
  }

  .pet-selling-slider {
    padding-top: 80px;
  }

  .pet-selling-top h2,
  .upload-post-content h3 {
    font-size: 28px;
    line-height: 35px;
  }

  .owl-prev {
    position: absolute;
    top: 0;
    right: 70px;
  }

  .owl-next {
    position: absolute;
    top: 0;
    right: 0;
  }

  .upload-post-container {
    padding: 30px 20px;
  }

  .footer-container {
    text-align: center;
  }

  .footer-logo img {
    max-width: 200px;
  }
}
